body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(Light\ aesthetic\ Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-justify: inter-word;
    font-size: larger;
}

header {
    background: #111;
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

header .logo span {
    color: #000000;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #00aaff;
}

section {
    padding: 100px 10%;
}

h3 {
    font-size: 2rem;
    color: #111;
}

span {
    display: block;
    color: #8d8b8b;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    line-height: 55px;
    margin-bottom: 0;

}

img {
    display: block;
    width: 300px; 
    height: 250px;
    margin: 200px auto 0;    
    width: 300px; 
}